.elementor-15 .elementor-element.elementor-element-4187c6a .elementor-spacer-inner {height: 38px;}
.elementor-15 .elementor-element.elementor-element-88633ca {text-align: center;}
.elementor-15 .elementor-element.elementor-element-88633ca .elementor-heading-title {color: #54595f;}
.elementor-15 .elementor-element.elementor-element-88633ca > .elementor-widget-container {margin: 16px 16px 16px 16px;}
.elementor-15 .elementor-element.elementor-element-a3e0fef .elementor-text-editor {text-align: left;column-gap: 0px;}
.elementor-15 .elementor-element.elementor-element-a3e0fef {color: #54595f;}
.elementor-15 .elementor-element.elementor-element-dbf685d {color: #54595f;}
.elementor-15 .elementor-element.elementor-element-dbf685d > .elementor-widget-container {margin: 16px 16px 16px 16px;}
@media (min-width:768px) {.elementor-15 .elementor-element.elementor-element-e152b3f {width: 20%;}
	.elementor-15 .elementor-element.elementor-element-27ada75 {width: 80%;}}